@import url('https://fonts.googleapis.com/css?family=Jura:400');
* {font-family: Jura, Arial, serif; font-weight: 400; }
body { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,p { margin: 0; }

section#chat-box {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 20s ease infinite;
  box-sizing: border-box;
  h2 {
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 0 4px 16px #fff;
    font-size: 30px;
    font-weight: 100;
  }
  fieldset {
    margin: auto 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    box-shadow: 0 32px 64px rgba(0,0,0,0.2);
    background-color: #fff;
    border: none;
    height: 700px;
    width: 1000px;
    legend{
      padding: 5px;
      background-color: #fff;
      border-radius: 5px;
    }
  }
}
div#user-bar{
  float: right;
  margin: auto 0;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  border: 3px dotted grey;
  border-radius: 10px;
  width: 20%;
  height: 90%;
  div#users{
    height: 81%;
    inline-size: 200px;
    overflow-wrap: break-word;
  }
  button {
    position:relative;
    top: 2%;
    padding: 10px;
    border:1px solid rgba(0,0,0,0);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    width: 100%;
    &:hover {
      background-color: #eef;
      border: 1px solid #aaf;
    }
  }
}
div#sentences{
  float: left;
  margin: auto 0;
  padding: 20px;
  border: 3px dotted grey;
  border-radius: 10px;
  width: 70%;
  height: 70%;
}

div#message{
  float: left;
  margin: 1% 0 auto;
  padding: 20px;
  border: 3px dotted grey;
  border-radius: 10px;
  width: 70%;
  height: 12%;
  textarea{
    text-align: start;
    font-size: 20px;
    height: 100%;
    inline-size: 82%;
    overflow-wrap: break-word;
    border: none;
    resize: none;
    outline:0px;
  }
  button{
    position:relative;
    float: right;
    top: 60%;
    padding: 10px;
    border:1px solid rgba(0,0,0,0);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    &:hover {
      background-color: #eef;
      border: 1px solid #aaf;
    }
  }
}

@media only screen and (min-width: 420px) {
  form {
    h2 {
      font-size: 40px;
    }
    fieldset {
      ul {
        li {
          grid-template-columns: 100px 1fr;
          label {
            padding-right: 10px;
            padding-bottom: 0;
            text-align: right !important;
          }
        }
      }
    }
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}